/* Navbar.module.css */

.container {
    background-color: black;
    text-align: right;
    margin-right: 20px; /* Ajuste conforme necessário */
}

.linksnavbar {
    font-family: 'Anton', sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.linksnavbar:hover {
    color: yellow;
}